.btn{
color: white;
height: 2.5em;
border-radius: .5em;
}

.btn-primary{
    background-color: blue;
}
.btn-danger{
    background-color: red;
}
.container-1, .container-2,.container-3{
    border: 1px black solid;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-1 , .flex-box-container-2,.flex-box-rps{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-box-container-1 div{
    padding: 10px;
    border:1px solid black;
    display: flex;
    align-items: center;

}


.btn-success{
    background-color: green;
  
}
.flex-box-container-2 img{
    
    width: 150px;
    margin: 10px;
    
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37,50,233,1);

}